@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The encryptions showcase app!</h1>
    <h3>Select an encryption type from the navbar to get started</h3>
</div>
